 nav  
{
    background-color: aqua;
}

.outer
{
    background-color: chartreuse;
    height: 300px;
    width: 600px;

}

.inner
{
    background-color: black;
    height: 150px;
    width: 300px;
    color: aliceblue;
}

/* 1.Descendent Selector */

.outer h2
{
    background-color: crimson;
}

/* 2.Direct Child Selector */

.outer > h1
{
    color: fuchsia;
}
