*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer
{
    background-color: red;
    height: 400px;
    width: 500px;
    border: 2px solid black;
    
}

.outer > .inner
{
    background-color: yellow;
    border: 2px solid green;

    /* height: 200px; 
        width: 300px; */

    height: 50%;
     width: 50%;
}

header
{
    background-color: hotpink;
    height: 100%;
    width: 100%;
    /* if you want decrease the width size means use width=50vw and also use percentage(%) */
    /* if you want full height taken by the header means use height=100vh */
    /* The body does not having height */
}