*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer
{
    background-color: violet ;
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    
}

.outer > .inner
{
   /* padding: 50px; */
   background-color: white;
   height: 500px;
   width: 450px;
   padding: 30px 30px;
   border-radius: 15px;
   box-shadow: 3px 3px 5px black;
   border: none;

}

.inner > h1
{
    font-weight: bold;
    font-size: 40px;
     padding: 10px;
    word-spacing: 2px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    /* justify-items: center; */
    flex-direction: column;
}

.inner > p
{
    font-style: italic;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    /* justify-items: center; */
    flex-direction: column;
}

.inner > form
{
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
     /* display: flex;
    align-items: center; */
    
}
 
form > input
{
    width: 60%;
    height: 20px;
   
} 

button
{
    width: 100%;
    height:35px;
    border-radius: 6px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
}

button:hover
{
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

button:active
{
    background-color: brown;
    color: coral;
    font-weight: bold;
    font-style: italic;
}

.footer > p
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    letter-spacing: 2px;
    text-decoration: underline;
}

.footer > a
{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 20px; */
    letter-spacing: 2px;
    font-weight: bold;
}



